* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(315deg, #f3e1e1, #faf2f2 100%);
}

.big-div {
    display: inline-block;
    margin-top: 8%;
    height: max-content;
}

.box {
    display: inline-block;
    /* width: fit-content; */
    padding: 10px;
    background-color: #7d5a5a;
}

.meters {
    display: flex;
    justify-content: right;
    font-family: "arial";
    font-size: 90px;
    background-color: #f1d1d1;
}

.meter {
    display: flex;
    width: 120px;
    height: 120px;
    margin: 5px;
    margin-left: 10px;
    /* justify-content: flex-end; */
    align-items: center;
    color: black;
}

.hours {
    margin-left: 20px;
}

.seconds {
    display: flex;
}

#second {}

.btns {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#start {
    background-color: white;
    color: black;
    border: 2px solid #041a02;
    text-align: center;
}

#start:hover {
    background-color: rgba(189, 126, 67, 0.993);
    color: black;
}

#stop {
    background-color: white;
    color: black;
    border: 2px solid #041a02;
    text-align: center;
}

#stop:hover {
    background-color: rgba(189, 126, 67, 0.993);
    color: white;
}

#reset {
    background-color: white;
    color: black;
    border: 2px solid #041a02;
    text-align: center;
}

#reset:hover {
    background-color: rgba(189, 126, 67, 0.993);
    color: white;
}

.lab {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #f1d1d1;
    color: #041a02;
    font-weight: 500;
    border: 2px solid #041a02;
}

hr.hr1 {
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    border: 1px solid black;
}

.lab-items {}

.lab-item {
    margin: 0;
    margin-left: 10px;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 2px;
}

.number {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-top: 8px;
}

.span-lab {
    padding-top: 3px;
    font-size: 24px;
    height: 10px;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 3;
}

hr {
    margin-right: 10px;
    background-color: rgb(161, 159, 159);
    border: 1px solid rgb(168, 167, 167);
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}